<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aseprite_Multiple_Export.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aseprite_Multiple_Export.Properties.Settings>
            <setting name="KeepChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllLayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EveryLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExportJson" serializeAs="String">
                <value>False</value>
            </setting>
        </Aseprite_Multiple_Export.Properties.Settings>
    </userSettings>
</configuration>